<mat-card *ngIf="loading">
  <mat-card-content>
    <p>Please wait while we fetch your timeline....</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
</mat-card>

<div *ngIf="!loading">
  <mat-card>
    <mat-card-header>Timeline Chart</mat-card-header>
    <mat-card-content>
      <div echarts [options]="chartOptions" [autoResize]="true" style="width: 100%; height: 400px;"
           (chartInit)="onChartInit($event)"></div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput type="text" id="title" name="title" [(ngModel)]="formData.title" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput type="text" id="description" name="description" [(ngModel)]="formData.description">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" id="date" name="date" [(ngModel)]="formData.date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endPicker" id="endDate" name="endDate" [(ngModel)]="formData.endDate">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">{{
            selectedEntry ? 'Update Entry' : 'Add Entry'
          }}
        </button>
        <button mat-raised-button color="primary" *ngIf="selectedEntry" (click)="resetForm()">
          New Entry
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
